<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2013. Ed Sweeney.  All Rights Reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onextent.oemap"
    android:versionCode="11"
    android:versionName="0.3.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.onextent.oemap.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.onextent.oemap.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.onextent.oemap.OeMapActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance">

            <intent-filter> <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:pathPrefix="/share" android:host="oemap.onextent.com" android:scheme="http" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAnSrCFWeKIywp6a09r_rIv_Vkcf6VPGpQ" />

        <receiver android:name=".OeMapAutostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".presence.OeMapPresenceService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/presence_service_name"
            android:launchMode="singleInstance"
            android:process=":presence_service" />

        <provider
            android:name=".provider.PresenceProvider"
            android:authorities="com.onextent.oemap.provider.PresenceProvider"
            android:multiprocess="false" />
        <provider
            android:name=".provider.KvProvider"
            android:authorities="com.onextent.oemap.provider.KvProvider"
            android:multiprocess="true" />
        <provider
            android:name=".provider.SpaceProvider"
            android:authorities="com.onextent.oemap.provider.SpaceProvider"
            android:multiprocess="true" />

        <receiver
            android:name=".presence.OeMapGcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.onextent.oemap" />
            </intent-filter>
        </receiver>
        <service android:name=".presence.OeMapGcmIntentService" />

    </application>

</manifest>

